.content-wrapper{
  background: $bg-grey;

  .container{
    background: #fff;

    &:first-child{
      @extend %clearfix;
      border-bottom: 1px solid $line-grey;
    }
  }
}

.sidebar{
  width: 25%;
  float: left;
}

.categories__item{
  padding: 18px 18px 24px 22px;
  border-bottom: 1px solid $line-grey;
  position: relative;
  transition: background-color .3s;

  &:hover{
    background-color: #ff8e2f, 0.8;
    cursor: pointer;

    .categories__title{
      color: $red;
    }

    .categories__amount{
      color: $red;
    }
  }


}

.categories__link{
  display: block;
    margin-right: 30px;

  &:hover{
    .categories__title{
      color: $red;
    }
  }
}

.categories__icon, .categories__title, .categories__amount{
  display: inline-block;
  vertical-align: middle;
}

.categories__title{
  font-size: 15px;
  color: $grey;
  line-height: 1.1;
  max-width: 80%;
  transition: color .3s;
}

.categories__icon{
  width: 25px;
  text-align: center;
  margin-right: 15px;
  font-size: 0;
}

.categories__icon-pic{
  max-width: 100%;
  max-height: 100%;
}

.categories__amount{
  font-size: 14px;
  line-height: 16px;
  color: $light-grey;
  position: absolute;
  right: 18px;
  top: 50%;
  margin-top: -10px;
  transition: color .3s;
}

